.header { 
  border: 1px solid black; 
  height: 200px;
  background-image: url(./img/top.jpg);
}
.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.product {
  margin: 0 30px;
  background-color:gainsboro;
  border: 1px solid black;
}
.more {
  padding-top: 100px;
  margin-left:187px;
}